@media (max-width: 600px) {
    header div {
        font-size: 20px;
    }

    main {
        padding: 10px;
    }
}

header {
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
}

@media (max-width: 1100px) {
    .container {
        max-width: 100%;
        padding: 10px;
    }
}

main {
    font-size: 22px;
    font-family: lato;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.profile img {
    flex-basis: 40%;
    height: auto;

}

.name {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 20px;
}

.profile .name img {
    width: 50%;
    height: auto;
    display: block;
    padding-left: 120px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.name div {
    padding-left: 80px;
    font-size: 84px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    margin-bottom: -10px;
}

.name .subtitle {
    font-size: 24px;
    font-weight: normal !important;
    color: black;
    padding-left: 80px;
    margin-top: 10px;
}

.name .sub_subtitle {
    font-size: 16px;
    font-weight: normal !important;
    color: black;
    padding-left: 80px;
    padding-top: 20px;
}

.bio_text {
    font-size: 20px;
    line-height: 1.5;
    padding-left: 10px;
    padding-bottom: 30px;
}

.relevant_coursework {
    padding: 20px 0 0 5px;
}

.bolden {
    color: black;
    font-weight: bold;
}

.quote {
    font-size: 16px;
    font-family: Anta;
}

.relevant_coursework {
    padding-top: 20px;
}

.coursework-content div {
    margin: 10px
}

.toggle-section {
    cursor: pointer;
    color: #5DADE2;
}

.toggle-indicator {
    margin-right: 5px;
}

.coursework-content {
    display: none;
    padding-left: 20px;
}

img {
    width: 100%;
    height: auto;
    filter: grayscale(20%);
}

@media (min-width: 768px) {
    img {
        width: 50%;
    }
}

/* styling of anchor tags */

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #3f3f3f;
}