@media (max-width: 600px) {
    header div {
        font-size: 20px;
    }

    main {
        padding: 10px;
    }
}

header {
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
}

main {
    font-size: 22px;
    font-family: lato;
}

header div {
    font-size: 48px;
    font-weight: bold;
}

.name_title {
    padding: 20px 0 0 5px;
}

.bio_title {
    padding: 20px 0 0 5px;
}

.about_me {
    padding: 20px 0 0 5px;
}

.relevant_coursework {
    padding: 20px 0 0 5px;
}

.bolden {
    color: black;
    font-weight: bold;
}

.quote {
    font-size: 16px;
    font-family: Anta;
}

.relevant_coursework {
    padding-top: 20px;
}

.coursework-content div {
    margin: 10px
}

.toggle-section {
    cursor: pointer;
    color: #5DADE2;
}

.toggle-indicator {
    margin-right: 5px;
}

.coursework-content {
    display: none;
    padding-left: 20px;
}

img {
    width: 100%;
    height: auto;
    filter: grayscale(20%);
}

@media (min-width: 768px) {
    img {
        width: 50%;
    }
}